---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Switch from "@components/ui/switch.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Free forever!",
      "1 User",
      "Community Support",
      "Reply to 5 reviews a week",
      "Two channels",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Premium",
    price: {
      monthly: "£30",
      annual: "£28",
      discount: "20%",
      original: "£40",
    },
    popular: true,
    features: [
      "All Free Features",
      "Updated twice a day",
      "Up to 3 users",
      "Advanced Integrations",
      "All channels",
      "Sentimently™ Rating",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited users",
      "Priority Feature requests",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
