---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Multiple review providers",
    description:
      "Trustpilot, Google Reviews, Facebook, Yelp, TripAdvisor & more.",
    icon: "ri:thumb-up-line",
  },
  {
    title: "Reply in one place",
    description:
      "Reply to every single review from every provider in one place, no more remembering where and what you've replied too.",
    icon: "ri:computer-line",
  },
  {
    title: "Customer sentiment",
    description:
      "Get a gist per provider and overall of customer sentiment of your company",
    icon: "ri:star-line",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight">
    At a glance features
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
