<footer class="my-20">
  <p class="text-center text-sm">
    Sentimently {new Date().getFullYear()} | Part of the <a
      href="https://talesoft.digital"
      target="_blank"
      class="hover:underline"
      rel="noopener">Talesoft Digital</a
    > family. All rights reserved.
  </p>

  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-[6px] opacity-10 mt-1">
    Original template by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
