---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight">
    Collect reviews from
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:trustpilot" />
    <Icon class="h-8 md:h-12" name="simple-icons:google" />
    <Icon class="h-8 md:h-14" name="simple-icons:facebook" />
    <Icon class="h-8 md:h-16" name="simple-icons:yelp" />
    <Icon class="h-8 md:h-12" name="simple-icons:tripadvisor" />
  </div>
</div>
